@font-face {
  font-family: 'pixel-font';
  src: url('../fonts/digital-7.regular.ttf');
}

body {
  background-color: wheat;
}

button, .btn-small{
  all: initial;
  font-family: sans-serif;
  background-color: rgb(237, 190, 102);
  margin-right: 0;
  margin-left: 0;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}
button{
  min-height: 40px;
  min-width: 80px;
  font-size: x-large;
  box-shadow: 0 5px #999;
}
.btn-small{
  min-height: 20px;
  min-width: 40px;
  box-shadow: 0 3px #999;
}

button:hover {
  background-color: rgb(212, 149, 33);
}
button:active{
  background-color: rgb(212, 149, 33);
  box-shadow: 0 2px #666;
}

.btn-pressed{
  background-color: rgb(212, 149, 33);
  box-shadow: 0 2px #666;
}

.main-container {
  background-color: rgb(237, 190, 102);
  /* align-self: center; */
  /* text-align: center; */
  margin: 5px;
  margin-top: 100px;
  padding: 5px;
  border-radius: 10px;
}

.time {
  display: flex;
  font-family: "pixel-font";
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 102px;
}

.toggled {
  background-color: rgb(212, 141, 9);
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}


.disable-text {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.history-tag{
  background-color: rgb(237, 190, 102);
  border-radius: 10px;
  margin: auto;
  min-height: 30px;
  display:flex;
  padding-left: 10px; 
  margin-bottom: 5px;
}

#shade,
.modal {
  display: none;
}

#shade {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  z-index: 101;
  top: 33%;
  left: 25%;
  width: 50%;
}

#shade {
  background: silver;
  opacity: 0.7;
  filter: alpha(opacity=50);
}
